*.txt
*.png
model
__pycache__/
param
result
dataset
model*
pth
obj_data
debug_program/*npy
debug_program/*jpg
*zip
train_test*
IIT_Affordances_2017/
simple_dataset/
single_object_dataset/
.python-version
uv.lock